$clr_main: #5f2d74;
$clr_grad1: #5f2d74;
$clr_grad2: #bb97be;
$clr_lines: #f8f4f9;
$clr_gpurple: #695C6B;
$clr_text: #362739;
$clr_white: #fff;
$clr_black: #000;
$clr_grey: #746968;
$clr_green: #3db9ae;
$clr_green_grad2: #3db9ae;
$clr_red: #dc3232;

//Slider hover filter
$slider_hover_filter: invert(52%) sepia(62%) saturate(557%) hue-rotate(155deg) brightness(83%) contrast(91%);
